<!DOCTYPE html>
<html lang="en">
<head>
  <title>Article</title>
  <meta name="trustpilot-one-time-domain-verification-id" content="1f1e76ca-bcd4-42e4-9031-220bb51002fe"/>
  <meta name="title" content="Article - Edu : TurtleDove">
  <meta name="description" content="Welcome to Article 0.01, WIP Website running on Heroku - Codename : Turtle-Dove">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="google-site-verification" content="VsUHCPcj9AVLJUAQs3LrGwS7pUcxn6MBQlCbOwDTLWk" />
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Article</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="about">Our Mission</a></li>
      <li><a href="mailto:xpythonprogrammerx@gmail.com">Contact</a></li>
      <li><a href="join">Join</a></li>
    </ul>
  </div>
</nav>

<style>
    body {
        background-image: url('/static/img32.jpg');
    }
</style>

<div class="container">
  <h3>Welcome to the future of news.</h3>
  <hr>
  <h3>Welcome to Article.</h3>
  <p>Redefining news when you need it.</p>
  <hr>
  <h2>Omicron reaches 114,625 cases in the United Kingdom</h2>
  <p>24th December 2021</p><br>
  <p><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/coronavirus-booster-vaccine/">Get your booster vaccine.</a></p>
  <hr>
  <h2>Merry Christmas, Everyone!</h2>
  <p>25th December 2021 <b><LASTEST></b> </p><br>
  <p>Even if it wasn't a white christmas for most of us, This years Christmas had a warm christmasy spirit, Merry christmas and a happy new year!</p>
  <p>Heres some copyright free music to play in your home this christmas</p>
  <iframe width="420" height="315"
    src="https://www.youtube.com/watch?v=YQAMOoQ75eQ">
  </iframe>
Let It Snow by Dean Martin http://www.deanmartin.com
Creative Commons — Attribution 3.0 Unported— CC BY-NC 3.0 
https://creativecommons.org/licenses/...
Music provided by Mouse Music https://youtu.be/YQAMOoQ75eQ
  <iframe width="420" height="315"
    src="https://www.youtube.com/watch?v=UxfBBa9kdkA">
  </iframe>
  <iframe width="420" height="315"
    src="https://www.youtube.com/watch?v=5VO3w8na3CA">
  </iframe>
  
</div>

</body>
</html>
